* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #0a570af3;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}
.grid div.road-bottom {
  background-color: #6c7278;
}
.grid div.road-top {
  background-color: #6c7278;
}

.grid div.water-bottom {
  background-color: #00bbfff9;
}
.grid div.water-top {
  background-color: #00bbfff9;
}

.grid div.car-left {
  background-color: #d8f710;
}

.grid div.car-right {
  background-color: #eb2c2c;
}

.grid div.logs-left {
  background-color: #592c05bb;
}
.grid div.logs-right {
  background-color: #592c05bb;
}

.grid div.goal {
  background-color: #ffea00;
}
.grid div.frog {
  background-color: #05c605;
}
