* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.car-left {
  background-color: #d8f710;
}

.grid div.car-right {
  background-color: #d82ceb;
}
.grid div.road {
  background-color: #6c7278;
}
.grid div.lillipad-left {
  background-color: #4fd54f7b;
}
.grid div.lillipad-right {
  background-color: #4fd54f7b;
}
.grid div.water {
  background-color: #00bbfff9;
}
.grid div.goal {
  background-color: #ffea00;
}
.grid div.frog {
  background-color: #05c605;
}
